*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.header{
display: flex; 
align-items: center;
justify-content: space-between;   
/* background-color: rgb(198, 9, 9); */
height: 7vh;
padding: 0px 150px; 
border-bottom: 1px solid #42424234;
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: white;
}
.header ul{
    display: flex;
    gap:50px;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: #666;
}

.header ul li a:hover{
    color: #387ed1
}
.img-text{
    text-align: center;
    padding-top: 50px;
    background-color:white;
    padding-bottom: 50px;
}
.img1 {
     width: 850px; 
     padding-top: 60px; 
}
.text{
    font-size: 1.50rem;
    line-height: 1.0;
    text-align: center;
    background-color: white;
padding-bottom: 70px;
color:#424242;

}
.button{
     background-color: white; 
    height: 60px;
      text-align: center;  
} 
.cta-btn{
    font-size: 22px;
    background-color:#387ed1;
    text-align: center;
    padding: 12px 30px; 
    text-decoration: none;
    color: white; 
  border-radius: 3px;
}
.cta-btn:hover{
    background-color: #424242;
}
.parent{
    background-color: white;
 height: 655px; 
display: flex;
align-items: center;
/* justify-content: space-around; */
padding-top: 80px;
margin-left: 140px; 
margin-right: 140px;

}
.child1{
    font-size: 1.55rem;
color: #666;
    background-color: white;
    height: 650px;
    width: 650px;
    padding-top: 50px;
  
    /* margin-left: 140px; */
    
}
.child1 p a {
    text-decoration: none;
    color: #387ed1;
}
.child1 p a:hover{
    color:#424242;
}
.child2{
    background-color: white;
     height:600px; 
     width: 620px; 
    cursor: pointer;
      margin-right:20px;
      text-align: center;
     display: flex;
     align-items: end;
     justify-content: end;
        }
.child3{
    display: flex;
    gap: 50px;
    justify-content: end;
    margin-right: 250px;
font-size: 24px;
padding-top: 25px;
}

.child3 p{

    cursor: pointer;
    color: #387ed1;
}
.child3 p:hover{
    color:#424242;
}
